Source: pidgin-extended-blist-sort
Section: net
Priority: extra
Maintainer: Konrad Gräfe <konradgraefe@aol.com>
Build-Depends: debhelper (>= 7), autotools-dev, pidgin-dev (>= 2.5.2), intltool
Standards-Version: 3.8.4
Homepage: http://freakazoid.teamblind.de/2008/12/13/pidgin-extended-buddy-list-sort-plugin/

Package: pidgin-extended-blist-sort
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Pidgin Extended BList Sort
 This Plugin allows you to sort your buddy list more flexible than Pidgin does.

Package: pidgin-extended-blist-sort-dbg
Section: devel
Architecture: any
Depends: pidgin-extended-blist-sort, ${misc:Depends}
Description: Pidgin Extended BList Sort Debug Symbols
 Debug symbols for the Pidgin Extended BList Sort plugin

